
body{
    background-color: crimson;
    text-align: center;
    color: white;
}

div p{
    display: inline;
}

.center{
    display:flex;
   justify-content: center;
    align-items: center;
}


#barre_travail{
    border: solid 1px;
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: inline;
    color : grey;
    border-color: crimson;
    box-shadow: 1px 2px 2px 2px black;
    

}

#barre_travail p{
    padding: 4vw;

}

#cercle{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 40vh;
    height: 40vh;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    box-shadow:0 0 3px 3px  black;
}


